<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <% users.forEach(user => { %>
    <p><%= user.fname %></p>
    <p><%= user.lname %></p>
    <p><%= user.email %></p>
    <p><%= user.phno %></p>
    <p><%= user.dob %></p>
    <p><%= user.gender %></p>
    <p><%= user.add1 %></p>
    <p><%= user.add2 %></p>
    <p><%= user.city %></p>
    <p><%= user.state %></p>
    <p><%= user.code %></p>
    <p><%= user.country %></p>
    <% }) %>
</body>
</html>
